.notification-body {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.bad-comment {
    color: red;
}

.good-comment {
    color: green;
}

.warning-comment {
    color: #da9100;
}
@media(max-width: 658px){
  $fontSize: 0.75rem;
  #university-search-input {
    font-size: $fontSize;
  }
  ::ng-deep .mat-mdc-option,
  ::ng-deep .mat-mdc-select-min-line,
  ::ng-deep .mat-mdc-input-element,
  ::ng-deep .mat-mdc-checkbox p {
    font-size: $fontSize !important;
  }
  ::ng-deep mat-label {
    font-size: $fontSize;
  }
}
@media(max-width: 560px){
  $fontSize: 0.60rem;
  #university-search-input {
    font-size: $fontSize;
  }
  ::ng-deep .mat-mdc-option,
  ::ng-deep .mat-mdc-select-min-line,
  ::ng-deep .mat-mdc-input-element{
    font-size: $fontSize !important;
  }
  ::ng-deep mat-label {
    font-size: $fontSize;
  }
}