.dialog-box {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 4px;
    #campus {
      option {
        font-size: .5rem;
      }
    }
  }
}

::ng-deep mat-option {
  $font-size: 14px;
  .option-campus {
    margin-bottom: 4px;
    font-size: $font-size;
  }
  .option-university {
    color: grey;
    margin-left: 8px;
    font-size: $font-size - 3px;

  }
}

@media screen and (max-width: 1000px){
  .dialog-box {
    form {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
@media(max-width: 658px){
  $fontSize: 0.75rem;
  #university-search-input {
    font-size: $fontSize;
  }
  ::ng-deep .mat-mdc-option,
  ::ng-deep .mat-mdc-select-min-line,
  ::ng-deep .mat-mdc-input-element{
    font-size: $fontSize !important;
  }
  ::ng-deep mat-label {
    font-size: $fontSize;
  }
}
@media(max-width: 560px){
  $fontSize: 0.60rem;
  #university-search-input {
    font-size: $fontSize;
  }
  ::ng-deep .mat-mdc-option,
  ::ng-deep .mat-mdc-select-min-line,
  ::ng-deep .mat-mdc-input-element{
    font-size: $fontSize !important;
  }
  ::ng-deep mat-label {
    font-size: $fontSize;
  }
}
