<section class="dialog-box">
  <h1 mat-dialog-title>Agrega tu Profesor</h1>
  <div mat-dialog-content>
    <form [formGroup]="teacherForm">

      <!-- NAME -->
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="teacherName" required>
      </mat-form-field>

      <!-- FATHER LASTNAME -->
      <mat-form-field appearance="outline">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput formControlName="teacherLastname1" required>
      </mat-form-field>

      <!-- MOTHER LASTNAME -->
      <mat-form-field appearance="outline">
        <mat-label>Apellido Materno</mat-label>
        <input matInput formControlName="teacherLastname2">
      </mat-form-field>

      <!-- CAMPUS -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Campus</mat-label>
        <input type="text" required
          id="search-campus-field"
          placeholder="Busca el campus"
          aria-label="Number"
          matInput
          formControlName="campusName"
          #CampusElement
          (blur)="onSelectCampus()"
          (select)="onSelectCampus()"
          [matAutocomplete]="campus"
        />
        <mat-autocomplete autoActiveFirstOption #campus="matAutocomplete">
          <mat-option *ngFor="let option of campusSearchOptions | async" [value]="option.value">
            {{option.value}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- CAMPUS INPUT ERROR -->
      <div class="input-error" *ngIf="this.campusError">
        <p>El campus seleccionado no existe.</p>
      </div>

    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-raised-button class="cancel-btn" mat-dialog-close>Cerrar</button>
    <button mat-button mat-raised-button class="ok-btn"
      [ngClass]="{'disabled-btn': !teacherForm.valid || campusError}"
      mat-dialog-close (click)="onSubmit()" [disabled]="!teacherForm.valid || campusError">
      Guardar
    </button>
  </div>
</section>
