<div class="section-title">
  <p>{{campusInfo.name}}</p>
  <p class="subtitle">Información de profesores</p>
</div>

<!-- http://localhost:4200/campus/f591544f-e366-4c3e-bc34-6060a63d65c6 -->
<section>
  <div class="search-input-box">
    <mat-form-field>
      <mat-label>Buscar profesor</mat-label>
      <input matInput type="search" />
      <button mat-icon-button matSuffix aria-label="Buscar">
        <mat-icon>{{'search'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</section>
<section class="campus-main-grid">
  <div class="teachers-tile">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th><span class="header-icon">👤</span>Name</th>
            <th>First LastName</th>
            <th>Second LastName</th>
            <th><span class="header-icon">💬</span># Comments</th>
            <th><span class="header-icon">⭐</span>Total Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of teacherList">
            <td>{{ item.name }}</td>
            <td>{{ item.firstLastName}}</td>
            <td>{{ item.secondLastName}}</td>
            <td class="comments-cell">{{ item.totalComments}}</td>
            <td class="grade-cell grade-A">{{ item.averageGrade}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="top-board-tile">
    <app-top-ranking-list 
      [title]="'Top 10 Ranking'"
      [rankTeacherList]="rankTeacherList"
      [showCampusName]="false"
    ></app-top-ranking-list>
  </div>
</section>