@use "sass:list";
.roster-info-box {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 10px;

  .title-box {
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    text-shadow: 1px 1px grey;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .label-brief {
    margin-top: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .content-brief {
    margin-left: 50px;
    color: gray;
    font-weight: 700;
  }

  .box-info {
    width: auto;
    margin-top: 20px;
    padding: 14px;
    font-size: 1.3rem;
    border: solid gray;
    background-color: #faf0e6;
    border-radius: 10px;

    .global-avg-grade{
      padding-top: 4px;
    }
    .skills-box {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 2fr;
      gap: 10px;
      i {
          line-height: 80px;
          font-size: 80px;
          width: 339px;
        }
    }
  }

}

.score-box{
  margin: 30px 0;
  button {
    padding: 4px;
    font-size: 25px;
  }
}

.paginator-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  .paginator-item {
    margin-top: 20px;
    font-size: 1.1rem;
  }
}

@media (max-width: 690px) {
  .box-info{
    .average-grade.average-grade.average-grade {
      $starSize : 70px;
      font-size: $starSize;
      line-height: $starSize;
    }
  }
}
@media (max-width: 1840px) {
  .roster-info-box {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 995px) {
  .box-info {
    .skills-box {
      display: grid;
      grid-template-columns: 1fr 1fr !important;
      gap: 0;
    }
  }
}
@media (max-width: 480px) {
  .box-info {
    .skills-box {
      display: grid;
      grid-template-columns: 1fr !important;
      gap: 0;
    }
  }
}


// COMMENTS GRID
.comments-container.comments-container.comments-container {
  margin-top: 40px;
  $rad: 14px;
  $numCols: 7;
  $lastNode : $numCols + 1;

  .comment-block {
    margin: 3px 0;
    font-size: 1.2rem;
    background-color: #fdd5b1;
    padding: 0 0 10px 0;
    border: 2px solid;
    border-radius: $rad;
    display: grid;
    grid-template-columns: repeat($numCols, 1fr);

    .info-block {
      padding: 3px 10px;
      grid-row: 1;
      grid-column: list.slash(1, $lastNode);
      border-radius: $rad;
      background-color: #ebddcc;

      .info-content {
        .info-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2px;
          .info-title {
            font-weight: bolder;
          }
          .extra-info {
            font-size: 0.95rem;
          }
          .individual-score {
            margin-top: 2px;
            height: 22px;
          }
          .indv-numeric-score {
            font-size: 0.8rem;
          }
        }
      }
    }

    .teacher-logo-block {
      grid-row: 2;
      grid-column: 1 / 2;
      text-align: center;

      .user-logo {
        width: 100%;
        height: 100%;
        padding: 10px;
        font-size: 90px;
      }
    }

    .text-block {
      padding: 8px 8px 8px 0;
      grid-row: 2;
      grid-column: list.slash( 2 , $lastNode);
    }
    .created-at {
      margin-top: 20px;
      grid-row: 3;
      grid-column: 1 / 3;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .buttons-block {
      margin-top: 20px;
      grid-row: 3;
      grid-column: list.slash( $numCols , $lastNode);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      padding-right: 8px;
      font-size: 1.9rem;

      .btn {
        cursor: pointer;
        font-size: 22px;
      }

      .thumbs-up-icon {
        color: #388e3c;
        /* Green */
      }
      .thumbs-up-icon:hover {
        color: #1b5e20;
      }
      .thumbs-down-icon {
        color: #d32f2f;
        /* Red */
      }
      .thumbs-down-icon:hover {
        color: #b71c1c;
      }
      .delete-icon {
        color: #d32f2f;
        /* Red */
      }
      .delete-icon:hover {
        color: #b71c1c;
      }
      .alert-icon {
        color: #ffa000;
        /* Amber */
      }
      .alert-icon:hover {
        color: #ff6f00;
      }
      .edit-icon {
        margin-left: 8px;
        color: #388e3c;
        font-size: 24px;
      }
      .edit-icon:hover {
        color: #116b15;
      }
    }
  }
}
