<div class="section-title">
  <p>{{fullName}}</p>
</div>

<section class="box">
  <section class='roster-info-box'>
    <div class='box-info' *ngIf="roster!=null">
      <div class='title-box'>DATOS GLOBALES</div>
      <div class='label-brief'>Calificación General</div>
      <i class="average-grade" data-star="0"></i>
      <div class='label-brief'>{{ rosterUniStructure?.value | titlecase }}</div>
      <div class='content-brief'>{{roster.structureName}}</div>
      <div class='label-brief'>campus</div>
      <div class='content-brief'>{{roster.campusName}}</div>
    </div>
    <div class='box-info'>
      <div class='title-box'>Habilidades</div>
      <div class='skills-box'>
        <ng-container *ngFor="let scale of scales">
          <div class='label-brief'>{{scale.name}}</div>
          <i class="skill-{{scale.scaleId}}" data-star="0"></i>
        </ng-container>
      </div>
    </div>
  </section>

  <section class="score-box">
    <button mat-raised-button color="accent" (click)="openRateTeacherDialog()">Calificar al Maestro</button>
  </section>

  <!-- COMMENTS -->
  <section class='comments-container'>
    <div class='comment-block' *ngFor="let comment of comments">
      <div class='teacher-logo-block'>
        <mat-icon class="user-logo"> person_pin</mat-icon>
      </div>
      <div class='info-block'>
        <div class='info-content'>
          <div class='info-item'>
            <span class='info-title'>Materia:</span> {{comment.subjectName | uppercase}}
          </div>
        </div>
      </div>
      <div class='text-block'>
        {{comment.content}}
      </div>
      <div class='buttons-block'>
        <mat-icon class="like-it btn" >thumb_up</mat-icon>
        <mat-icon class="dislike-it btn" >thumb_down</mat-icon>
        <mat-icon class="report-it btn" >add_alert</mat-icon>
      </div>
    </div>
  </section>
</section>
