<div class="section-title">
  <p>{{fullName}}</p>
</div>

<section class="box">
  <section class='roster-info-box'>
    <div class='box-info' *ngIf="roster!=null">
      <div class='title-box'>DATOS GLOBALES</div>
      <div class='label-brief'>Calificación General</div>
      <i class="average-grade" data-star="0"></i>
      <div class='label-brief'>{{ rosterUniStructure?.value | titlecase }}</div>
      <div class='content-brief'>{{roster.structureName}}</div>
      <div class='label-brief'>campus</div>
      <div class='content-brief'>{{roster.campusName}}</div>
    </div>
    <div class='box-info'>
      <div class='title-box'>Habilidades</div>
      <div class='skills-box'>
        <ng-container *ngFor="let scale of scales">
          <div class='label-brief'>{{scale.name}}</div>
          <i class="skill-{{scale.scaleId}}" data-star="0"></i>
        </ng-container>
      </div>
    </div>
  </section>

  <section class="score-box">
    <button mat-raised-button color="accent" (click)="openRateTeacherDialog()">Calificar al Maestro</button>
  </section>

  <!-- COMMENTS -->
  <section class='comments-container'>
    <div class='comment-block' *ngFor="let comment of comments">
      <div class='teacher-logo-block'>
        <mat-icon class="user-logo"> person_pin</mat-icon>
      </div>
      <div class='info-block'>
        <div class='info-content'>
          <div class='info-item'>
            <span class='info-title'>Materia:</span> {{comment.subjectName | uppercase}}
          </div>
        </div>
      </div>
      <div class='text-block'>
        {{comment.content}}
      </div>
      <div class='created-at'>
        {{comment.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}
      </div>
      <div class='buttons-block'>
        <mat-icon class="btn" [matBadge]="countVotes(comment, true)" matBadgeColor="primary" matBadgePosition="above before" [ngClass]="{ 'chosen-btn' : hasVoted(comment) === true}" (click)="voteComment(comment, true)">thumb_up</mat-icon>
        <mat-icon class="btn" [matBadge]="countVotes(comment, false)" matBadgeColor="warn" [ngClass]="{ 'chosen-btn' : hasVoted(comment) === false}" (click)="voteComment(comment, false)" >thumb_down</mat-icon>
        <mat-icon *ngIf="canEdit(comment)" (click)="openEditCommentDialog(comment)">edit</mat-icon>
        <mat-icon class="report-it btn" >add_alert</mat-icon>
      </div>
    </div>
  </section>

  <div class="paginator-box">
    <mat-form-field appearance="fill">
      <mat-label>Selecciona el tipo de ordenamiento</mat-label>
      <mat-select [(value)]="sortPage" (selectionChange)="onFilterChange()">
        <ng-container *ngFor="let sp of sortPaginatorValues">
          <mat-option value="{{sp.id}}">{{sp.value}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-paginator class="paginator-item" itemsPerPageLabel="Comentarios por página: " nextPageLabel="siguiente"
      previousPageLabel="anterior" (page)="handlePageEvent($event)" [length]="totalLength" [pageSize]="pageSize"
      [pageSizeOptions]="" aria-label="Slecciona la página">
    </mat-paginator>

  </div>


</section>
