$border-radius: 10px;
.ranking-container {
    border-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.ranking-box {
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    max-height: 80vh !important;
    min-height: 300px;
    overflow-y: scroll !important;
}

.ranking-header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: linear-gradient(135deg, #FFEBCD, #FFDAB9, #FFCBA4);
    font-size: 18px;
    font-weight: bold;
    color: #222;
    padding: 20px;
}

.ranking-box .ranking-body {
    display: grid;
    grid-template-columns: 1fr;
    color: #28282B;

    .ranking-item {
        display: grid;
        grid-template-columns: 1fr 1fr 5fr;

        .item-grade::before {
            content: "⭐";
            margin-right: 5px;
            font-size: 12px;
        }

        .item-user-icon {
            font-size: 40px;
            text-align: center;
            margin: 20px;
        }

        .item-campus {
            margin-top: 4px;
            margin-bottom: 0px;
            font-style: normal;
            display: inline-flex;
            .university-icon {
                fill: currentColor;
            }
            p {
                margin-left: 6px;
            }
        }

        .item-comment {
            span {
                padding-top: 2px;
            }
            p {
                margin-left: 6px;
            }
        }

        .item-rank {
            width: 50px;
            height: 50px;
            background-color: #e0e0e0;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            color: #333;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    }
}

.ranking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.ranking-item:last-child {
    border-bottom: none;
}

.item-title {
    font-weight: 800;
    flex-grow: 1;
    a {
        text-decoration: none;
    }
}
.item-title:hover {
    a {
        color: rgb(18, 125, 212);
    }
}

.item-time {
    color: #888;
    font-size: 14px;
    display: flex;
    align-items: center;
}