<div class="ranking-container">
    <div class="ranking-header">{{title}}</div>
    <div class="ranking-body">
        <div class="ranking-item" *ngFor="let item of rankTeacherList">
            <div class="item-rank">{{item.rank}}</div>
            <div class="item-user-icon">👤</div>
            <div class="item-info">
                <div class="item-title">{{getFullName(item.name, item.firstLastName, item.secondLastName)}}</div>
                <div class="item-campus" *ngIf="showCampusName">{{item.campusName}}</div>
                <div class="item-comment">{{item.totalComments}}</div>
                <div class="item-grade">{{item.averageGrade}}</div>
            </div>
        </div>
    </div>
</div>