<div class="section-title">
  <p>Agrega tu profesor, campus o universidad si aun no se encuentra.</p>
</div>

<section class="box">

  <div class='hero-add-item'>
    <div class='button-classroom item-image-bg' (click)="openAddTeacherDialog()">
      <div class='item-lbl'>
        <p>Agrega un Profesor</p>
      </div>
    </div>
    <div class='button-campus item-image-bg' (click)="openAddCampusDialog()">
      <div class='item-lbl'>
        <p>Agrega un Campus</p>
      </div>
    </div>
    <div class='button-university item-image-bg' (click)="openAddUniversityDialog()">
      <div class='item-lbl'>
        <p>Agrega una Universidad</p>
      </div>
    </div>

  </div>
</section>
