.home-container {
  background-image: url("../../../assets/images/chalkboard.jpg");
  color: white;
  height: 100vh;
  width: 100%;
  .home-title {
    font-size: 2.6rem;
    margin: 30px auto 80px auto;
    text-align: center;
    font-weight: bold;
  }
  .type-of-search {
    margin: 0 auto;
    border: 3px solid #673ab7;
    border-radius: 9px;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    width: 300px;
    p {
      color: black !important;
    }
    .radio-group .radio-btn.radio-btn.radio-btn{
      font-size: 4rem;
      margin: 0 auto;
    }
  }
  .search-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    $widthBar: 50vw;
    width: 100%;
    .search-form-field {
      width: $widthBar;
      .close-search-btn {
        color: black;
      }
      .close-options-btn {
        margin-right: 85px;
      }
      .search-btn {
        position: absolute;
        top: 0;
        right: -140px;
        button {
          height: 55px;
        }
      }
    }
    .search-options-container {
      max-height: 300px;
      overflow: scroll;
      max-width: $widthBar;
      .search-options-box{
        padding: 0px;
        color: black;
        background-color:  rgb(255,250,250);
        .option-item {
          font-weight: 400;
          padding: 14px;
          .children-option {
            color: black;
            font-weight: 500;
          }
          .parent-option {
            padding-left: 14px;
            color: #989898;
          }
        }
        .option-item:hover {
          background-color: aqua;
          .parent-option {
            color: #232b2b;
          }
        }
        .hide-options-btn {
          cursor: pointer;
        }
      }

    }
    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }
}
