.dialog-box{
  .dialog-actions-box{
    background-color: #4682b4;
    padding-bottom: 10px;
  }
  .dialog-content-box {
    padding-top: 20px;
    max-height: 500px;
    overflow-y: scroll;
    .scales-container {
      .scale-value {
        margin-left: 20px;
      }
    }
    .subjectName-box{
      width: 70%;
    }
  }
  .comment-box{
    margin-top: 20px;
    margin-bottom: 20px;
    label {
      font-weight: bold;
    }
    textarea {
      width: 95%;
      height: 120px;
    }
  }
  .bad-comment {
    color: red;
  }
  .good-comment {
    color: green;
  }
  .warning-comment {
    color: #da9100;
  }
  .title-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .right-box{
      .average-rate{
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
  .scales-container {
    .individual-scale-rate {
      font-size: 30px;
      line-height: 30px;
    }
  }
}
