.dialog-box{
  .dialog-actions-box{
    background-color: #4682b4;
    padding-bottom: 10px;
  }
  .dialog-content-box {
    padding-top: 20px;
    max-height: 500px;
    overflow-y: scroll;
    .scales-container {
      .scale-value {
        margin-top: 20px;
      }
    }
    .subjectName-box{
      width: 70%;
    }
  }
  .study-field-box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .comment-box{
    margin-top: 20px;
    margin-bottom: 20px;
    label {
      font-weight: bold;
    }
    textarea {
      width: 95%;
      height: 120px;
    }
  }
  .bad-comment {
    color: red;
  }
  .good-comment {
    color: green;
  }
  .warning-comment {
    color: #da9100;
  }
  .title-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    .right-box{
      .average-rate{
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
  .scales-container {
    .individual-scale-rate {
      font-size: 30px;
      line-height: 30px;
    }
  }
}

@media (max-width: 700px){
  ::ng-deep mat-form-field.mat-mdc-form-field.subjectName-box {
    width: 100% !important;
  }
  .left-box {
    text-align: center;
  }
  .dialog-box .title-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  ::ng-deep mat-expansion-panel-header {
    display: flex !important;
    height: 120px !important;
    justify-content: center;
    align-content: center;
    flex-direction: column !important;
  }
  ::ng-deep mat-expansion-panel-header .mat-content{
    display: flex !important;
    align-items: center;
    flex-direction: column !important;
  }
  ::ng-deep mat-panel-description {
    margin-top: 0px;
  }

}
