<section class="dialog-box">
  <div mat-dialog-title>
    <div class="title-container" >
      <div class="left-box">Califica a {{roster.fullName}}</div>
      <div class="right-box">
        <app-star [averageGrade]="averageRate" [fontSize]="30" [showAverageValue]="true" [averageValueColor]="'white'"></app-star>
      </div>
    </div>
  </div>
  <div mat-dialog-content class="dialog-content-box">
    <form [formGroup]="rateForm">

      <!-- SUBJECT NAME -->
      <mat-form-field class="subjectName-box">
        <mat-label>Nombre de la Materia Cursada</mat-label>
        <input matInput type="text" formControlName="subjectName" class="subjectName-input">
      </mat-form-field>

      <!-- AREA  -->
      <div class="study-field-box">
        <mat-form-field>
          <mat-label>Area</mat-label>
          <mat-select formControlName="universityAreaId" (valueChange)="onChangeUniversityArea()" name="universityArea">
            <mat-option *ngFor="let area of universityAreas"
              [value]="area.universityAreaId">{{area.name}}</mat-option>
          </mat-select>
      <!-- FIELD OF STUDY  -->
        </mat-form-field>
        <mat-form-field>
          <mat-label>Campo de estudio</mat-label>
          <mat-select formControlName="studyFieldId" name="studyField">
            <mat-option *ngFor="let field of getStudyFieldByUniAreaId(universityAreaId.value)"
              [value]="field.studyFieldId">{{field.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- RATING SCALES -->
      <div formArrayName="scales" class="scales-container" *ngIf="_scales!= null && _scales.length>0">
        <h2>Califica las habilidades de enseñanza</h2>
        <div *ngFor="let scale of scales.controls; let i=index">
          <mat-accordion>
            <mat-expansion-panel (opened)="scaleDescriptionStates[i] = true" (closed)="scaleDescriptionStates[i] = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <label id="scale-{{ i }}" class="example-name-label">{{ _scales[i].name}}</label>
                </mat-panel-title>
                <mat-panel-description class="panel-description">
                  <label class="scale-value">
                    <app-star [averageGrade]="updateScaleRate(i)" [fontSize]="25" [showAverageValue]="true" [averageValueColor]="'black'"></app-star>
                  </label>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{_scales[i].description}}</p>
            </mat-expansion-panel>
          </mat-accordion>

          <!-- RATING SCALES -->
          <mat-slider class="slider-box" [max]="100" [min]="0" [step]="1" [discrete]="false">
            <input matSliderThumb  [formControlName]="i" [value]="getScale(i)" (change)="updateRates(i)">
          </mat-slider>
        </div>
      </div>

      <!-- COMMENT -->
      <div class="comment-box">
        <label for="comment">Escribe una reseña de tu experiencia con el Maestro (se respetuoso):</label>
        <textarea #Comment id="comment" formControlName="comment" matInput
          [minlength]="MIN_LEN_COMMENT"
          [maxlength]="MAX_LEN_COMMENT"
          (keyup)="onChangeComment(Comment.value)">
        </textarea>
      </div>
      <div class="comment-data"
      [ngClass]="{
        'bad-comment': comment.length<MIN_LEN_COMMENT,
        'good-comment': comment.length>=MIN_LEN_COMMENT && comment.length<MAX_LEN_COMMENT,
        'warning-comment': comment.length==MAX_LEN_COMMENT
      }">
        {{comment.length}}/{{MAX_LEN_COMMENT}}
      </div>

    </form>

  </div>
  <div mat-dialog-actions class="dialog-actions-box">
    <button mat-button mat-raised-button class="cancel-btn" [mat-dialog-close]="null">Cancelar</button>
    <button mat-button mat-raised-button class="ok-btn"
      [ngClass]="{
        'disabled-btn': !isDataValid()
      } "
      mat-dialog-close (click)="onSubmit()" [disabled]="!isDataValid()">
      Guardar
    </button>
  </div>
</section>
